.inline {
    display: inline-block;
    vertical-align: middle;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 0px;
    padding-top: 0px;
    min-width: 5px;
    font-family: KaTeX_Main, Times New Roman, serif;
}
.display{
    display: flex;
    vertical-align: middle;
    horiz-align: center;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 0px;
    padding-top: 0px;
    min-width: 5px;
    font-family: KaTeX_Main, Times New Roman, serif;
    font-weight: bold;
}